body {
    background-color: black;
}

.tabs {
    float: left;
    width: 500px;
    max-height: 600px;
    margin-left: 20px;
    overflow: hidden;
}

.tabbody {
    overflow: scroll;
    max-height: 700px;
}

#absoluteDiv {
    position: absolute;
    right: 50%;
}

#centerDiv {
    top: 50px;
    position: relative;
    right: -51%;
    background-color: slategray;
    width: 500px;
    height: 500px;
}

#pizza {
    background-color: brown;
    height: 87%;
}

#reciept {
    float: right;
    width: 400px;
    height: 400px;
    margin-right: 20px;
    background-color: aqua;
}

#topTitle {
    background-color: burlywood;
}

#priceTitle {
    background-color: burlywood;
}

@media (max-width: 1510px) {
    body {
        width: 1500px;
    }
    #reciept {
        float: none;
        vertical-align: top;
        display: inline-block;
        margin-top: 30px;
        margin-right: 0px;
    }
    .tabs {
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-top: 30px;
        margin-left: 30px;
    }
    #absoluteDiv {
        position: static;
        display: inline-block;
        margin-top: 30px;
    }
    #centerDiv {
        position: static;
    }
}

.rad0 > input,
.rad1 > input,
.rad2 > input,
.rad3 > input {
    visibility: hidden;
    position: absolute;
}

.rad0 > i,
.rad1 > i,
.rad2 > i,
.rad3 > i {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    transition: 0.2s;
    border-radius: 50%;
    box-shadow: inset 0 0 0 7px #fff;
    border: 1px solid gray;
    margin-left: 5px;
}

.rad0 > i {
    background-image: url("RadBut/radio0.png");
}

.rad1 > i {
    background-image: url("RadBut/radio1.png");
}

.rad2 > i {
    background-image: url("RadBut/radio2.png");
}

.rad3 > i {
    background-image: url("RadBut/radio3.png");
}

.rad0:hover > i,
.rad1:hover > i,
.rad2:hover > i,
.rad3:hover > i {
    box-shadow: inset 0 0 0 3px #fff;
    */
}

.rad0 > input:checked + i {
    box-shadow: inset 0 0 0 3px #fff;
    background-image: url("RadBut/radio0-selected.png");
    border: 1px solid red;
}

.rad1 > input:checked + i {
    box-shadow: inset 0 0 0 3px #fff;
    background-image: url("RadBut/radio1-selected.png");
    border: 1px solid red;
}

.rad2 > input:checked + i {
    box-shadow: inset 0 0 0 3px #fff;
    background-image: url("RadBut/radio2-selected.png");
    border: 1px solid red;
}

.rad3 > input:checked + i {
    box-shadow: inset 0 0 0 3px #fff;
    background-image: url("RadBut/radio3-selected.png");
    border: 1px solid red;
}