body {
    background-color: black;
}

.tabs {
    float: left;
    width: 500px;
    height: 600px;
    margin-left: 20px;
    overflow: scroll;
}

#absoluteDiv {
    position: absolute;
    right: 50%;
}

#centerDiv {
    top: 50px;
    position: relative;
    right: -51%;
    background-color: slategray;
    width: 500px;
    height: 500px;
}

#pizza {
    background-color: brown;
    height: 87%;
}

#reciept {
    float: right;
    width: 400px;
    height: 400px;
    margin-right: 20px;
    background-color: aqua;
}

#topTitle {
    background-color: burlywood;
}

#priceTitle {
    background-color: burlywood;
}

@media (max-width: 1510px) {
    body {
        width: 1500px;
    }
    #reciept {
        float: none;
        vertical-align: top;
        display: inline-block;
        margin-top: 30px;
        margin-right: 0px;
    }
    .tabs {
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-top: 30px;
        margin-left: 30px;
    }
    #absoluteDiv {
        position: static;
        display: inline-block;
        margin-top: 30px;
    }
    #centerDiv {
        position: static;
    }
}